<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
  </configSections>
  <connectionStrings>
    <add name="PTMSDB" connectionString="Data Source=10.134.0.138;Initial Catalog=PTMS_BAN_DEVELOPMENT;User ID=ptmsdev;Password=ptmsd@v" providerName="System.Data.SqlClient"/>

    <add name="PTMSDB1" connectionString="Data Source=10.134.0.134;Initial Catalog=PTMS_CIT_BAN_TESTING;User ID=ptmscit;Password=ptms@cit" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="PTMSDB"/>
  <appSettings>
    <add key="BatchCode" value="TCSUP2N" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\MyMail\"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>


